<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aguas con la ruta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA98813E1D10EA42007BD20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA9881541D10EA42007BD20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA98815F1D10EA42007BD20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
